.header-content{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .header-all-content{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .header-all-content.hidden {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    background-color: var(--color--light-blue);
  }
  .header-all-content.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    background-color: var(--color--light-blue);
  }
  /*Content-Logo*/
  .content-logo img {
    max-width: 15rem;
    display: flex;
    align-items: center;
  }
  /*Content-Links*/
  .nav-bar{
    display: flex;
    align-items: center;
  }
  .content-links{
    display: flex;
    list-style: none;
    padding: .8rem;
    margin: 0;
  }
  .content-links li{
    list-style: none;
  }
  .content-links a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
  }
  /*Content-Login-Button*/
  .login-button{
    display: flex;
    align-items: center;
  }
  .login-button button{
    margin: 0;
    padding: .1rem;
    padding-left: .3rem;
    padding-right: .3rem;
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    max-width: 6rem;
    background-color: white;
    color: var(--color--light-blue);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
  }
  .login-button a{
    text-decoration: none;
  }
  /*Hover*/
  .content-links a:hover, .login-button button:hover{
    opacity: .8;
  }
  /*Mobile-Menu*/
  .mobile-menu-icon, .menu-mobile{
    display:none;
  }